* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0;
}
a {
  color: #333;
  text-decoration: none;
}

.nav {
  min-height: 10vh;
  background-color: #444;
}
.nav__title {
  color: #d5dee9;
  text-align: center;
  padding-top: 40px;
  font-size: 25px;
}

.imgBox {
  background-color: #aaa;
  padding: 20px 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

}

.imgBox__pic {
  border: 1px solid rgb(139, 139, 139);
  border-radius: 2px;
  margin: 10px;
  box-shadow: 3px 3px 12px 1px rgb(148, 148, 148);
}

.imgBox__pic--singleImg {
  height: 300px;
  width: 300px;
}

.imgBox__pic--singleImg:hover {
  transition: 0.5s;
  filter: contrast(175%);
}

